{{#returnContainer}}{{#vendorExtensions.x-spring-paginated}}Page<{{{returnType}}}>{{/vendorExtensions.x-spring-paginated}}{{^vendorExtensions.x-spring-paginated}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}List<{{{returnType}}}>{{/isListContainer}}{{/vendorExtensions.x-spring-paginated}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}
